*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Abel', sans-serif;
}
$backgroundcolor: black;
$textcolor: white;
$thirdcolor: #ff4da6;
$fourthcolor: lightpink;

body{
    height:100%;
    background-color: $backgroundcolor;
    color:$textcolor;
    
    display: grid;
    grid-template-columns: 80px auto 80px;
    grid-template-rows: 200px auto 100px;
    grid-template-areas: 
    ". h ."
    ". m ."
    ". f .";

    header{
        grid-area: h;

        h1{
            padding: 10px;
            margin-top: 50px;
            font-size: 80px;
            color: fff;
            text-align: center;
            animation: glow 1s ease-in-out infinite alternate;
    
            .glow {
                @keyframes glow {
                    from {text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;}
                    to {text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;}
                }
            }
        }
    }

    main{
        grid-area: m;
    }

    .input_div {
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        #input{
            padding: 10px;
            margin: 5px;
            height: 50px;
            outline: none;
            background-color: fff ;
            width: 400px;
            font-size: 18px;
            border:2px solid $thirdcolor;
            border-radius: 25px;
            color:$thirdcolor;
        }

        #input::placeholder{
            color:$backgroundcolor;
            font-size:18px;
        }

        #addTaskButton{
            margin:10px;
            height: 40px;
            width:40px;
            border-radius: 20px;
            outline:none;
            border-color: $thirdcolor;
            color: $thirdcolor;
            cursor: pointer;

            &:hover{
                background-color: $thirdcolor;
                color:$backgroundcolor
            }
        }
    }

    #toDoList{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 50px;

        .taskBox{
            padding: 5px;
            margin: 5px;
            border-left: 2px solid $thirdcolor;
            border-bottom: 2px solid $thirdcolor;
            border-radius: 20px;

            &:hover{
                transform: scale(1.05);
            }

            .checkBox {
                cursor: pointer;
                width: 20px;
                height: 20px;
                margin: 10px;
                padding: 0px;

                &:hover{
                    transform: scale(1.5);;
                }
            }

            .task_input{
                margin-left: 10px;
                text-align: left;
                padding: 5px;
                background: transparent;
                color: $thirdcolor;
                border: none;
                width: 300px;
                font-size: 25px;
            }

            .striketrough{
                text-decoration: line-through;
            }

            .edit_task{
                text-decoration: underline;
                background-color:$fourthcolor;
            }

            .editButton{
                font-size: 20px;
                margin: 5px;
                padding: 5px;
                background:transparent;
                color:$fourthcolor;
                border:none;
                cursor: pointer;

                &:hover{
                    transform: scale(1.5);
                }
            }

            .removeButton{
                font-size: 20px;
                margin:5px;
                padding:5px;
                background:transparent;
                border: none;
                color:$fourthcolor;
                cursor: pointer;

                &:hover{
                    transform: scale(1.5);
                }
            }
        }

    }
    footer{
        grid-area:f;
        margin-top: 100px;

        h4{
            margin:5px;
            padding:5px;
        }

        .icons{
            color:$thirdcolor;
            margin:5px;
    
            i:hover{
                transform: scale(1.5);
            }
        }
    }
    

}


